<div class="branch-show-container">
  <p-table [value]="branches">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Branch Name</th>
        <th>Address</th>
        <th>State</th>
        <th>MICR Code</th>
        <th>IFSC Code</th>
        <th>Bank ID</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-branch>
      <tr>
        <td>{{ branch.id }}</td>
        <td>{{ branch.Branch_Name }}</td>
        <td>{{ branch.Address }}</td>
        <td>{{ branch.State }}</td>
        <td>{{ branch.Micr_Code }}</td>
        <td>{{ branch.Ifsc_Code }}</td>
        <td>{{ branch.Bank_ID }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
