.banner{
  color:white;
  padding: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.content
{
  padding-top: 60px;
  align-items: center;
  text-align: center;
}

footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1976d2;
    color: white;
    text-align: center;
}

.bank-buttons, .branch-buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
