<p-dropdown
  [options]="banks"
  optionLabel="Bank_Name"
  placeholder="Select a Bank"
  (onChange)="onBankChange($event)"
  [(ngModel)]="selectedBankId">
</p-dropdown>
<h2 *ngIf="selectedBankName">Branches of {{ selectedBankName }}</h2>
<p-table [value]="branches">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id" style="width:20%">ID <p-sortIcon field="id"></p-sortIcon></th>
      <th>Branch Name</th>
      <th>Address</th>
      <th>State</th>
      <th>Pin Code</th>
      <th>MICR Code</th>
      <th>IFSC Code</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-branch>
    <tr>
      <td>{{ branch.id }}</td>
      <td>{{ branch.Branch_Name }}</td>
      <td>{{ branch.Address }}</td>
      <td>{{ branch.State }}</td>
      <td>{{ branch.Pin_Code }}</td>
      <td>{{ branch.MICR_Code }}</td>
      <td>{{ branch.IFSC_Code }}</td>
      <td>
        <button pButton icon="pi pi-pencil" (click)="editBranch(branch.id)"></button>
        <button pButton icon="pi pi-trash" (click)="deleteBranch(branch.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<div>
  <button pButton label="Add Branch" icon="pi pi-plus" routerLink="/Add_Branch"></button>
</div>
